.login {
    background-image: linear-gradient(to bottom, transparent, #70a0ff);
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 20px;

    box-shadow: inset 10px 20px 30px rgba(255, 255, 255, 0.3), 
                10px 10px 20px rgba(0, 0, 0, 0.3), 
                15px 15px 30px rgba(0, 0, 0, 0.05), 
                inset -10px -10px 15px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.login input {
    border-radius: 15px;
}

.login a {
    color: #000;
}

.copyright {
    background-image: linear-gradient(to bottom, transparent, #3070ff);
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 20px;
    
}

.float-button {
    background: #55f;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    right: 30px;
    bottom: 80px;
}