{% extends "../index.html" %}
{% block title %} Login {% endblock %}
{% block content  %}
<div class="container m-t-10p borad-20">
    <div class="m-t-30 m-b-10">
        <h1 class="bold center">Login</h1>

        <div class="m-t-50">
            <form action="/detail_user/login/process/" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" name="usermail" id="usermail" class="form-control" placeholder="Username / Email.." required />
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password.." required />
                </div>

                <div class="center">
                    <button type="submit" class="btn btn-primary center">Masuk</button>
                </div>

                <div class="bottom down-10p m-r-10p">
                    <div class="right">
                        <a href="" class="bold">Daftar</a>
                    </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}