{% extends "../index.html" %}
{% block title %} Lupa Password {% endblock %}
{% block content  %}
<div class="container m-t-10p borad-20">
    <div class="m-t-30 m-b-10">
        <h1 class="bold center">Lupa Password</h1>

        <div class="m-t-50">
            <div class="bold italic underline m-b-20">Fitur ini belum berfungsi</div>
            <form action="<?php echo $path101->proc("login"); ?>" method="post">
                <input type="hidden" name="<?php echo $lib->tokenName("@Syslog:token"); ?>" id="<?php echo $lib->tokenName("@Syslog:token"); ?>"   value="<?php echo $lib->tokenValue(); ?>" />
                <input type="hidden" name="<?php echo $lib->tokenName("@Process:"); ?>"     id="<?php echo $lib->tokenName("@Process:"); ?>"       value="<?php echo $lib->tokenValue(); ?>" />
                <input type="hidden" name="<?php echo $lib->enlink("procont1"); ?>"         id="<?php echo $lib->enlink("procont1"); ?>"           value="<?php echo $lib->enval('as101'); ?>" />

                <div class="form-group">
                    <input type="text" name="<?php echo $lib->enlink('email'); ?>" id="<?php echo $lib->enlink('email'); ?>" class="form-control" placeholder="Email.." required />
                </div>

                <div class="center">
                    <a href="<?php echo '?'.$lib->setID ?>" class="btn btn-primary m-r-10">Batal</a>

                    <button type="submit" class="btn btn-primary m-l-10">OK</button>
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}