{% extends "../index.html" %}
{% block title %} Register {% endblock %}
{% block content  %}
<div class="container m-t-10p borad-20">
    <div class="m-t-30 m-b-10">
        <h1 class="bold center">Daftar Baru</h1>

        <div class="m-t-50">
            <form action="/detail_user/register/process/" method="post">
                {% csrf_token %}  
                {{ form.as_p }}
                <input type="hidden" name="type" id="type" value="" />

                <div class="form-group">
                    <input type="text" name="id_101" id="id_101" class="form-control" placeholder="ID.." required />
                </div>

                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username.." required />
                </div>

                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email.." required />
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password.." required />
                </div>

                <div class="form-group">
                    <input type="password" name="passver" id="passver" class="form-control" placeholder="Verifikasi Password.." required />
                </div>

                <div class="center">
                    <a href="" class="btn btn-primary m-r-10">Batal</a>

                    <button type="submit" id="daftar" class="btn btn-primary m-l-10">Daftar</button>
                </div>

            </form>


        </div>

    </div>
</div>

<script>
    $("").keyup(function(){

        var pass1 = $("").val();
        var pass2 = $("").val();

        if(pass1 == pass2) {
            $("").attr("disabled", false);
        }
        else {
            $("").attr("disabled", true);
        }

    });

    $("").keydown(function(){

        var pass1 = $("").val();
        var pass2 = $("").val();

        if(pass1 == pass2) {
            $("").attr("disabled", false);
        }
        else {
            $("").attr("disabled", true);
        }

    });
</script>
{% endblock %}