<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Book</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card"> 
    	<div class="card-header">
			Daerah
		</div>
        <div class="card-body">
            <select name="" id="">
                <% if(data.length) { 
                    for(var i = 0; i< data.length; i++) { %>
                        <option value="<%= data[i].id %?"><%= data[i].nama %?</option>
                    <% 
                    }
                } %>
            </select>
        </div>
    </div>

</body>
</html>